/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
      
   html, button, input, select, textarea {
    color: #60686b /* Update Default Text Color */
   }
   body {
    font-size: 1em; line-height: 1.4;
    margin: 0px;
   }
   ::-moz-selection {
    background: #d1ebf7; text-shadow: none; color: #2a2a2a;
   }
   ::selection {
    background: #d1ebf7; text-shadow: none; color: #2a2a2a;
   }
   hr {
    display: block; height: 1px; border: 0; border-top: 1px solid #dadada; margin: 1em 0; padding: 0; clear: both;
   }
   img {
    vertical-align: middle
   }
   fieldset {
    border: 0; margin: 0; padding: 0;
   }
   textarea {
    resize: vertical
   }
   .chromeframe {
    margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0;
   }
   a {
    text-decoration: none
   }
   body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial
   }
   .wrapper {
    width: 90%; margin: 0 5%;
   }
   
   body {
       font: 16px/26px Helvetica, Helvetica Neue, Arial;
   }
   .wrapper {
       width: 90%;
       margin: 0 5%;
   }
   
   
   
   
   
   /* ==========================================================================
      Typography
      ========================================================================== */
   
   h1, h2, h3, h4, h5, h6, strong{
     font-weight: bold; color: #2d2d2d;
   }
   h1{ font-size: 48px;}
   h2{ font-size: 32px; }
   h3{ font-size: 24px; }
   h4{ font-size: 18px; margin-bottom: 15px; margin-top: 30px; }
   h5{ font-size: 16px; margin-bottom: 0; }
   h6{ font-size: 14px; color: #2a93d8; margin-top: 0;}
   em{ font-style: italic; }
   
   a{
     text-decoration: none;
     -webkit-transition: all 300ms ease-in-out;
     -moz-transition: all 300ms ease-in-out;
     -ms-transition: all 300ms ease-in-out;
     -o-transition: all 300ms ease-in-out;
     transition: all 300ms ease-in-out;	
   }
   a:hover{
     color: #2a93d8;
   }
   .callout{
     text-align: center;
     display: block;
     border-bottom: 1px solid #dadada;
     font-size: 26px;
     font-weight: 300;
     color: #4d5356;
     line-height: 32px;
     margin-bottom: 50px;
     padding: 30px 0;
   }
   .callout span{
     color: #2a93d8;
   }
   ul, ol{
     margin: 0; padding: 0;
   }
   ul li{
     list-style-type: none;
   }
   ol {
     counter-reset:li;
   }
   ol > li {
     position:relative; 
     margin:0 0 15px 1.5em; 
     padding:4px 8px; 
     list-style:none; 
   }
   ol > li:before {
     content:counter(li)"."; /* Use the counter as content */
     counter-increment:li; /* Increment the counter by 1 */
     position:absolute;
     top:2px;
     left:-1.5em;
     width:1.5em;
     margin-right:8px;
     padding:4px;
     color:#2a93d8;
     font-size: 22px;
     font-weight:bold;
     text-align:center;
   }
   li ol, li ul {margin-top:6px;}
   ol ol li:last-child {margin-bottom:0;}
   .quote{
     position: relative;
     padding-left: 32px;
   } 
   .quote:before{
     content: "“";
     font-size: 68px;
     color: #4f575a;
     position: absolute;
     left: 0;
     top: 22px;
   }
   .twoThirds h6{
     padding-left: 32px;
   }
   
   /* ==========================================================================
      Forms
      ========================================================================== */
   .btn{
     color: #fff;
     -webkit-border-radius: 3px;
     border-radius: 3px;
     font-size: 18px; 
     text-align: center; 
     padding: 14px 10%; 
     font-weight: bold; 
     display: inline-block;
     background-color: #666;
     margin-top: 30px;
   }
   .btn span{
     font-weight: normal;
     padding-left: 10px;
   }
   .blue{
     background-color: #2a93d8;
   }
   .blue:hover{
     background-color: #f35000;
     color: #fff;
   }
   input{
     background-color: #fff;
     border: 1px solid #e2e4e9;
     -webkit-border-radius: 3px;
     border-radius: 3px;
     padding: 14px 10px;
     color: #b6bcbf;
   }
   input.btn{
     padding: 14px 30px;
     border: none;
     margin-top: 5px;
     width: 30%;
     min-width: 100px;
     font-size: 16px;
     margin-bottom: 30px;
     -webkit-transition: all 300ms ease-in-out;
     -moz-transition: all 300ms ease-in-out;
     -ms-transition: all 300ms ease-in-out;
     -o-transition: all 300ms ease-in-out;
     transition: all 300ms ease-in-out;	
   }
   .field{
     width: 50%;
     min-width: 130px;
   }   
      
      
      
   /* ==========================================================================
      Navigation
      ========================================================================== */
   nav{
     float: right;
     margin-top: 15px;	
   }
   nav ul { margin: 0; padding: 0; }
   nav ul li{
     margin-right: 80px;
     display: inline-block;
   }
   nav a {
       font-weight: bold;
       color: #2d2d2d;
       font-size: 18px;
   }
   nav a:hover{
     color: #2a93d8;
   }
   
   /* ==========================================================================
      LOGO
      ========================================================================== */
   .logo{
     margin: 0;
     padding: 0;
     float: left;
     width: 223px; /* Update This*/
   }
   .logo img{
     width: 100%;
   }
   
   
   
   
   /* ==========================================================================
      Lay Out Styles
      ========================================================================== */
   .wrapper {
       width: 1100px; 
       margin: 0 auto;
     padding: 0 20px 100px;
   }
   header.wrapper{
     padding-top: 70px;
     padding-bottom: 40px;
   }
   .half{
     width: 46%;
   }
   .third{
     width: 30%;
   }
   .twoThirds{
     width: 60%;
   }
   .left{
     float: left;
   }
   .half.right{
     width: 48%;
   }
   .right{
     float: right;
   }
   
   
   
   
   
   
   /* ==========================================================================
      Header Section
      ========================================================================== */
   .header-container {
     background: #edeef0;
     /*
     background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMzAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNzUlIiBzdG9wLWNvbG9yPSIjZWRlZWYwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
     background: -moz-radial-gradient(center, ellipse cover,  #ffffff 30%, #edeef0 75%);
     background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(30%,#ffffff), color-stop(75%,#edeef0));
     background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 30%,#edeef0 75%);
     background: -o-radial-gradient(center, ellipse cover,  #ffffff 30%,#edeef0 75%);
     background: -ms-radial-gradient(center, ellipse cover,  #ffffff 30%,#edeef0 75%);
     background: radial-gradient(ellipse at center,  #ffffff 30%,#edeef0 75%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#edeef0',GradientType=1 ); 
     */
   }
   .header-container .wrapper{
     position: relative;
   }
   .cta{
     width: 36%;
     float: left;
     margin-top: 12%;
     position: absolute;
   }
   .cta strong{
     font-weight: 300;
     font-size: 20px;
     color: #60686b;
   }
   .softLink{
     margin-top: -5px;
   }
   .softLink a, .softtext{
     color: #b6bcbf;
     font-size: 14px;
     font-weight: bold;
   }
   .softLink a:hover{
     color: #1a1a1a;
   }
   .softtext{
     font-size: 16px;
     margin-bottom: 0;
     margin-top: 40px;
   }
   .book1, .book2{
     float: right;
     margin-top: 30px;
     max-width: 934px;
   }
   .book1 img, .book2 img{
     width: 100%;
   }
   .book2{
     display: none;
   }
   
   
   
   
   /* ==========================================================================
      About Section
      ========================================================================== */
   .about {
      background-color: #fff;
   }
   .pages li{
     float: left;
     width: 46%;
     padding-bottom: 30px;
   }
   .pages li.even{
     margin-left: 6%;
   }
   .pages li img{
     width: 100%;
   }
   .pages em{
     padding-top: 5px;
     color: #969ea1;
     font-size: 14px;
     line-height: 20px;
     display: block;
     min-height: 60px;
   }
   .pages em span{
     color: #4f575a;
     font-weight: bold;
     font-style: normal;
   }
   
   
   
   
   
   /* ==========================================================================
      Review Section
      ========================================================================== */
   .review {
      background-color: #2c343d;
      color: #cbcfd0;
   }
   .review nav a{
     color: #fff;
   }
   .review nav a:hover{
     color: #3db8f2;
   }
   .review h1, .review h2, .review h3, .review h4, .review h5, .review h6, .review strong{
     color: #fff;
   }
   .review h6{
     color: #3db8f2;
   }
   .review hr{
      border-top: 1px solid #4f575a;
      padding-bottom: 20px;
   }
   .review .callout{
     border-bottom: 1px solid #4f575a;
     color: #cbcfd0;
   }
   .review .callout span{
     color: #3db8f2;
   }
   
   
   
   
   
   
   
   
   
   
   /* ==========================================================================
      Footer Section
      ========================================================================== */
   
   .footer-container {
       color: #4f575a;
       background-color: #20252c;
       height: 50px;
       padding-top: 30px;
       text-align: center;
       font-size: 14px;
   }
   
   
   
   
   /* ==========================================================================
      Author's custom styles
      ========================================================================== */
     
   .mosaic-block {
     position:relative;
     overflow:hidden;
     background:#fff url(../images/fancybox_loading.gif) no-repeat center center;
   }
   
   .mosaic-backdrop {
     display:none;
     top:0;
     height:100%;
     width:100%;
     background:#fff;
   }
     
   .mosaic-overlay {
     display:none;
     z-index:5;
     position:absolute;
     width:100%;
     height:100%;
     background:#fff;
   }
     
   .circle .mosaic-overlay {
     background:url(../images/magnify.png) no-repeat center center;
     background-color: rgba(0, 0, 0, .25);
     background-size: 41px 41px;
     opacity:0;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
     filter:alpha(opacity=00);
     display:none;
   }
   @media (min--moz-device-pixel-ratio: 1.5),
     (-o-min-device-pixel-ratio: 3/2),
     (-webkit-min-device-pixel-ratio: 1.5),
     (min-device-pixel-ratio: 1.5),
     (min-resolution: 1.5dppx) {
   .circle .mosaic-overlay{
     background:url(../images/magnify@2x.png) no-repeat center center;
     background-size: 41px 41px;
   }
   }
     
   
   
   
   
   
   
   
   
   
   
   
   
   /* ==========================================================================
      Media Queries
      ========================================================================== */
   
   @media only screen and (max-width: 480px) {
     .pages li{
       float: none;
       width: 100%;
       padding-bottom: 30px;
     }
     .pages li.even{
       margin-left: 0%;
     }
     .cta{
       width: 100%!important;
       margin-left: 0!important;
     }
     .callout{
       font-size: 20px;
       line-height: 26px;
     }
    }
   
   @media only screen and (max-width: 768px) {
     .half, .third, .twoThirds, .half.right{
       width: 100%;
       float: none;
     }
     header.wrapper{
       padding-bottom: 25px;
     }
     .cta{
       width: 80%;
       float: none;
       position: relative;
       text-align: center;
       margin-top: 50px;
       margin-left: 10%;
       margin-right: 0;
     }
     .book1{
       display: none;
     }
     .book2{
       display: block;
     }
     .logo{
       float: none;
       text-align: center;
       margin: -15px auto 45px;
     }
     nav{
       float: none;
       border-bottom: 1px solid #dadada;
       padding-bottom: 15px;
     }
     .review nav{
       border-bottom: 1px solid #4f575a;
     }
     nav ul{
       text-align: center;
     }
     nav ul li{
       float: none;
       display: inline-block;
       width: 30%;
       text-align: center;
       margin: 0;
       border-right: 1px solid #dadada;
     }
     nav ul li.last{
       width: 35%;
     }
     .pages{
       padding-top: 20px;
       margin-top: 40px;
       border-top: 1px solid #dadada;
     }
     .review nav ul li{
       border-right: 1px solid #4f575a;
     }
     .review nav ul li.last{
       border: none;
     }
     .callout{
       padding-top: 0;
     }
     .author{
       border-top: 1px solid #4f575a;
       margin-top: 40px;
       padding-top: 30px;
     }
   
    }
   
   @media only screen and (max-width: 1140px) { 
     .wrapper {
         width: 90%; 
         margin: 0 auto;
         padding: 0 0 80px;
     }
   }
   
   
   
   
   
   
   /* ==========================================================================
      Helper classes
      ========================================================================== */
   
   .ir {
    background-color: transparent; border: 0; overflow: hidden; *text-indent: -9999px;
   }
   .ir:before {
    content: ""; display: block; width: 0; height: 100%;
   }
   .hidden {
    display: none !important; visibility: hidden;
   }
   .visuallyhidden {
    border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;
   }
   .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto;
   }
   .invisible {
    visibility: hidden;
   }
   .clearfix:before, .clearfix:after {
    content: " "; display: table;
   }
   .clearfix:after {
    clear: both;
   }
   .clearfix {
    *zoom: 1;
   }
   .last {
    margin-right: 0; border: none; padding-bottom: 0; padding-right: 0;
   }
   
   
   
   
   
   
   
   
   
   
   /* ==========================================================================
      Print styles
      ========================================================================== */
   
   @media print {
       * {
           background: transparent !important;
           color: #000 !important; /* Black prints faster: h5bp.com/s */
           box-shadow: none !important;
           text-shadow: none !important;
       }
   
       a,
       a:visited {
           text-decoration: underline;
       }
   
       a[href]:after {
           content: " (" attr(href) ")";
       }
   
       abbr[title]:after {
           content: " (" attr(title) ")";
       }
   
       /*
        * Don't show links for images, or javascript/internal links
        */
   
       .ir a:after,
       a[href^="javascript:"]:after,
       a[href^="#"]:after {
           content: "";
       }
   
       pre,
       blockquote {
           border: 1px solid #999;
           page-break-inside: avoid;
       }
   
       thead {
           display: table-header-group; /* h5bp.com/t */
       }
   
       tr,
       img {
           page-break-inside: avoid;
       }
   
       img {
           max-width: 100% !important;
       }
   
       @page {
           margin: 0.5cm;
       }
   
       p,
       h2,
       h3 {
           orphans: 3;
           widows: 3;
       }
   
       h2,
       h3 {
           page-break-after: avoid;
       }
   }